.toggleCurrentPassword, .toggleNewPassword {
    background: none;
    border: none;
    color: grey;
    transform: translateX(165px) translateY(-30px)    
}
.toggleCurrentPassword:hover, .toggleNewPassword:hover {
    cursor: pointer;
}



.save-button:hover,
.cancel-button:hover {
    filter: brightness(1.2);
}

